
  <div class="container">
	  <div class="row">
	    <div class="col-xs-12">
          <h1>Posts</h1>
          <p *ngIf="!posts || posts.length == 0 " >
              Pas de poste sur la base de données voulez vous poster un sujet ? <br>
              <a class="btn btn-default" [routerLink]="['/new']">
                Poster</a>
          </p>
	      	<ul class="list-group">
          <app-post-list-item
            *ngFor="let post of posts; let i = index"
            [post]='post' >
          </app-post-list-item>
        </ul>
      </div>
    </div>
  </div>
